<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta name="mobile-agent" content="format=html5; url=$!page.selfMLink" /> 
  <meta name="mobile-agent" content="format=xhtml; url=$!page.selfMLink" /> 
  <meta name="mobile-agent" content="format=wml; url=$!page.selfMLink" /> 
  <link rel="alternate" media="only screen and(max-width: 640px)" href="$!page.selfMLink" /> 
  <meta http-equiv="Cache-Control" content="no-transform" />
  <link rel="shortcut icon" href="http://www.456fs.com/staticResource/Picture/favicon.ico">
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 
  <meta name="applicable-device" content="pc" /> 
  <title>十二星座_星座运势查询_星座配对_${page.currentSite.name},您的解梦、星座专家</title> 
  <meta name="keywords" content="星座运势查询,星座配对,十二星座,456风水网,风水知识,周公解梦" /> 
  <meta name="description" content="${page.currentSite.name}提供周公解梦大全，解梦查询，十二生肖知识，十二星座知识，风水知识，本命年知识以及血型知识等内容，为用户提供专业的解梦知识，生肖百科，风水禁忌，本命年运程以及星座运势及星座配对的最新内容" /> 
  <link rel="stylesheet" type="text/css" href="http://www.456fs.com/staticResource/css/456fs.css" /> 
 </head> 
 <body> 
  <div id="header">
   <div id="toolbar">
    <div class="tool">
      ## 
     <div class="left fl">
      <a href="$!page.selfMLink" >${page.currentSite.name}手机版</a>
     </div> 
     <div class="right fr">
      你好,欢迎访问
      <a href="${page.currentSite.sitePath}" target="_self" title="${page.currentSite.name}">${page.currentSite.name}</a> 
     </div> 
    </div>
   </div> 
   <div class="head"> 
    <div class="logo fl">
     <a href="${page.currentSite.sitePath}"><img src="http://www.456fs.com/staticResource/Picture/logo.png" alt="${page.currentSite.name}" /></a>
     <h1>十二星座</h1>
    </div> 
    <div class="left fr"> 
     <div class="AD-680">
      <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174614";</script> 
      <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
     </div> 
    </div>
    <div class="cl"></div> 
   </div>
  </div> 
  <div class="nav">
   <ul> 
    <li><h1><a href="${page.currentSite.sitePath}" class="active" target="_self" title="${page.currentSite.name}">${page.currentSite.name}</a></h1></li> #foreach($firstLevelLink in $page.firstLevelLinks) 
    <li><h2><a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}">${firstLevelLink.name}</a></h2></li> #end 
   </ul> 
  </div> 
  <div class="subnav"> 
   <ul>
     #foreach($randomTag in $page.randomTagLinks) 
    <li><a href="${randomTag.resourcePath}" title="${randomTag.name}">${randomTag.name}</a></li> #end 
   </ul> 
  </div> 
  <!-- header --> 
  <div class="container"> 
   <div class="container-bd"> 
    <div class="main-wrap"> 
     <div class="slide fl"> 
      <div id="slideBox" class="slideBox"> 
       <div class="bd"> 
        <ul> 
         <ul> 
          <li><a href="${page.randomArtiLinks.get(0).resourcePath}" target="_blank"><img src="http://www.456fs.com/staticResource/Picture/1-151229210053212.jpg" width="500px" height="330px" alt="${page.randomArtiLinks.get(0).name}" /> 
            <div class="text">
             <div class="bt">
              <span class="pa">${page.randomArtiLinks.get(0).name}</span>
              <span class="clear"></span>
             </div>
            </div></a></li> 
         </ul> 
        </ul> 
       </div> 
      </div> 
     </div> 
     <div class="new fl"> 
      <div class="top">
       <h2><a class="ico-02" href="${page.recommendArtis.get(0).resourcePath}" title="${page.recommendArtis.get(0).name}" target="_blank">${page.recommendArtis.get(0).name}</a></h2>
       <p>${page.recommendArtis.get(0).content}...</p>
      </div> 
      <div class="box"> 
       <ul>
         #set($i = 1) #foreach($recommendArticle in $page.recommendArtis) #if($i > 1) 
        <li><a href="${recommendArticle.resourcePath}" title="${recommendArticle.name}" target="_blank">${recommendArticle.name}</a></li> #end #set($i = $i + 1) #end 
       </ul> 
      </div> 
     </div> 
     <div class="user"> 
      <div class="notice"> 
       <div class="title">
        <h3>最热榜单</h3>
       </div> 
       <ul class="box">
         #foreach($hotArticle in $page.hotestArtis) 
        <li class="ico-06"><a href="${hotArticle.resourcePath}" title="${hotArticle.name}" target="_blank">${hotArticle.name}</a></li> #end 
       </ul> 
      </div> 
     </div> 
     <div class="cl"></div> 
    </div>
    <!-- //main-wrap --> #foreach($firstLevelLink in $page.firstLevelLinks) 
    <div class="AD-960">
     <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174677";</script> 
     <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
    </div> 
    <div class="main-wrap"> 
     <div class="main-left"> 
      <div class="title"> 
       <span> #set($i = 1) #foreach($secondLevelLink in $firstLevelLink.secondLevelLinks) #if($i < 9) <li><a href="${secondLevelLink.resourcePath}" title="${secondLevelLink.name}" target="_blank">${secondLevelLink.name}</a></li> #end #set($i = $i + 1) #end </span> 
       <h3 class="ico-07"><a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}" target="_blank">${firstLevelLink.name}</a></h3>
      </div> 
      <div class="category"> 
       <div class="item"> 
        <div class="top">
         <a href="${firstLevelLink.randomArticleLinks.get(0).resourcePath}" target="_blank"><img src="${firstLevelLink.imageLinks.get(0).resourcePath}" height="90" width="120" /></a> 
         <h4><a href="${firstLevelLink.randomArticleLinks.get(0).resourcePath}" target="_blank" title="${firstLevelLink.randomArticleLinks.get(0).name}">${firstLevelLink.randomArticleLinks.get(0).name}</a></h4>
         <p>${firstLevelLink.randomArticleLinks.get(0).content}...</p> 
        </div> 
        <ul>
          #set($i=1) #foreach($randomArticle in $firstLevelLink.randomArticleLinks) #if($i < 10 && $i >1) 
         <li><span class="list">[<a target="_blank" class="item-color" href="${randomArticle.secondLevelLink.resourcePath}" title="${randomArticle.secondLevelLink.name}">${randomArticle.secondLevelLink.name}</a>]</span><a href="${randomArticle.resourcePath}" title="${randomArticle.name}">${randomArticle.name}</a></li> #end #set($i=$i+1) #end
        </ul>
       </div> 
       <div class="item"> 
        <div class="top">
         <a href="${firstLevelLink.randomArticleLinks.get(10).resourcePath}" target="_blank"><img src="${firstLevelLink.imageLinks.get(1).resourcePath}" height="90" width="120" /></a> 
         <h4><a href="${firstLevelLink.randomArticleLinks.get(10).resourcePath}" target="_blank" title="${firstLevelLink.randomArticleLinks.get(10).name}">${firstLevelLink.randomArticleLinks.get(10).name}</a></h4>
         <p>${firstLevelLink.randomArticleLinks.get(10).content}...</p> 
        </div> 
        <ul>
          #set($j=1) #foreach($randomArticle in $firstLevelLink.randomArticleLinks) #if($j > 10) 
         <li><span class="list">[<a target="_blank" class="item-color" href="${randomArticle.secondLevelLink.resourcePath}" title="${randomArticle.secondLevelLink.name}">${randomArticle.secondLevelLink.name}</a>]</span><a href="${randomArticle.resourcePath}" title="${randomArticle.name}">${randomArticle.name}</a></li> #end #set($j=$j+1) #end
        </ul>
       </div>
      </div> 
     </div> 
     <div class="main-right"> 
      <div class="ranking"> 
       <div class="title">
        <h3><a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}">${firstLevelLink.name}</a>排行榜</h3>
       </div> 
       <ul>
         #set($i = 1) #foreach($rankedArticle in $firstLevelLink.rankedArticleLinks) 
        <li><span class="a b">$i</span> <a target="_blank" href="${rankedArticle.resourcePath}" title="${rankedArticle.name}">${rankedArticle.name}</a></li> #set($i = $i + 1) #end 
       </ul>
      </div> 
     </div> 
    </div> #end 
    <div class="AD-960">
     <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174678";</script> 
     <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
    </div> 
    <div class="main-wrap"> 
     <div class="link-title">
      <h3 class="ico-07">友情链接</h3>
      <span>${page.currentSite.name}合作要求：<a href="http://fengshui.456fs.com/">风水</a>,<a href="http://xingzuo.456fs.com/">星座</a>,<a href="http://jiemeng.456fs.com/">解梦</a>,<a href="http://shengxiao.456fs.com/">生肖</a>等内容相关站点</span>
     </div> 
     <div class="friendlink"> 
      <ul>
       <li><a href="http://www.456fs.com/" target="_blank">456风水</a></li> 
       <li><a href="http://fengshui.456fs.com/" target="_blank">风水知识</a></li>
      <li><a href="http://xingzuo.456fs.com/" target="_blank">星座查询</a></li> 
      <li><a href="http://benmingnian.456fs.com/" target="_blank">本命年运程</a></li> 
      <li><a href="http://jiri.456fs.com/" target="_blank">黄道吉日</a></li> 
      <li><a href="http://shengxiao.456fs.com/" target="_blank">生肖配对</a></li> 
      <li><a href="http://xuexing.456fs.com/" target="_blank">血型与性格</a></li> 
      <li><a href="http://jiemeng.456fs.com/" target="_blank">周公解梦</a></li>
      <li><a href="http://top.aizhan.com" target="_blank">网站排行榜</a></li>

      </ul>
     </div> 
    </div> 
   </div>
   <div class="c1 container-bottom"></div> 
  </div> 
   <div class="footer">
  <p class="p_1"> #foreach($firstLevelLink in $page.firstLevelLinks) <a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}">${firstLevelLink.name}</a>| #end </p>
  <div class="footer_service">
    <ul>
        <li><a href="$!page.selfMLink" >手机版</a></li>
        <li><a href="$!page.selfLink" >电脑版</a></li>
    </ul>
   </div>
  <p class="p_2">提供 #foreach($randomMergeTag in $page.mergeTagLinks) <a href="${randomMergeTag.resourcePath}" target="_blank" title="${randomMergeTag.name}">${randomMergeTag.name}</a>, #end 等资料 </p>
   <p class="p_2">Copyright &copy; 2015-2016 <a href="${page.currentSite.sitePath}" title="${page.currentSite.sitePath}">${page.currentSite.sitePath}</a> All Rights Reserved. <a href="${page.currentSite.sitePath}" title="十二星座">${page.currentSite.name}</a> 版权所有</p>
   <p class="p_2">备案信息：鲁ICP备12010724号-2</p>
  </div>
  <script type="text/javascript" src="http://www.456fs.com/staticResource/js/jquery-2.1.1.min.js"></script> 
  <script type="text/javascript" src="http://www.456fs.com/staticResource/js/456fs.js"></script> 
  <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174676";</script> 
  <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
  $!page.countCode
 </body>
</html>