<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta name="mobile-agent" content="format=html5; url=$!page.selfMLink" /> 
  <meta name="mobile-agent" content="format=xhtml; url=$!page.selfMLink" /> 
  <meta name="mobile-agent" content="format=wml; url=$!page.selfMLink" /> 
  <link rel="alternate" media="only screen and(max-width: 640px)" href="$!page.selfMLink" /> 
  <meta http-equiv="Cache-Control" content="no-transform" /> 
  <meta http-equiv="Content-Type" content="text/html; charset=gb2312" /> 
  <link rel="shortcut icon" href="http://www.456fs.com/staticResource/Picture/favicon.ico">
  <meta name="applicable-device" content="pc" /> 
  <title>${page.currentSecondLevelLink.name}_${page.currentFirstLevelLink.name}_${page.currentSite.name}</title> 
  <meta name="keywords" content="${page.currentSecondLevelLink.name}" /> 
  <meta name="description" content="${page.currentSecondLevelLink.name}专题栏目为您提供关于${page.currentSecondLevelLink.name}的文章,以${page.currentSecondLevelLink.name}为话题的资讯，图片，评论，视频,${page.currentSite.name}为您提供有关${page.currentSecondLevelLink.name}的最新内容。" /> 
  <link rel="stylesheet" type="text/css" href="http://www.456fs.com/staticResource/css/456fs.css" /> 
  <link rel="canonical" href="${page.pageLinks.get(0).resourcePath}" /> 
 </head> 
 <body> 
  <div id="header">
   <div id="toolbar">
    <div class="tool">
      ##
     <div class="left fl">
      <a href="$!page.selfMLink" >${page.currentSite.name}手机版</a>
     </div> 
     <div class="right fr">
      你好,欢迎访问
      <a href="${page.currentSite.sitePath}" target="_self" title="${page.currentSite.name}">${page.currentSite.name}</a> 
     </div> 
    </div>
   </div> 
   <div class="head"> 
    <div class="logo fl">
     <a href="${page.currentSite.sitePath}"><img src="http://www.456fs.com/staticResource/Picture/logo.png" alt="${page.currentSite.name}" /></a>
     <h1>十二星座</h1>
    </div> 
    <div class="left fr"> 
     <div class="AD-680">
      <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174715";</script> 
      <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
     </div> 
    </div>
    <div class="cl"></div> 
   </div>
  </div> 
  <div class="nav">
   <ul> 
    <li><a href="${page.currentSite.sitePath}" target="_self" title="${page.currentSite.name}">${page.currentSite.name}</a></li> #foreach($firstLevelLink in $page.firstLevelLinks)
    <li><a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}" >${firstLevelLink.name}</a></li> #end 
   </ul>
  </div> 
  <div class="subnav"> 
   <ul>
     #foreach($randomSecondLevelLink in $page.randomSecondLevelLinks) 
    <li><a href="${randomSecondLevelLink.resourcePath}" title="${randomSecondLevelLink.name}" target="_blank">${randomSecondLevelLink.name}</a></li> #end 
   </ul> 
  </div>
  <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174720";</script> 
  <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script> 
  <div class="container list_repeat"> 
   <div class="container-bd list_top"> 
    <div class="main-wrap"> 
     <div class="article-left"> 
      <div class="title">
       <dt class="ico-07">
        <a href="${page.currentSecondLevelLink.resourcePath}" title="${page.currentSecondLevelLink.name}" target="_blank"><h1>${page.currentSecondLevelLink.name}</h1></a>
       </dt> 
       <span> #set($i = 1) #foreach($sameSecondLevelLink in $page.currentSecondLevelLink.secondLevelLinks) #if($i < 8) <li><a href="${sameSecondLevelLink.resourcePath}" title="${sameSecondLevelLink.name}" target="_blank">${sameSecondLevelLink.name}</a></li> #end #set($i = $i + 1) #end </span> 
      </div> 
      <div class="list-item"> 
       <ul class="left-item">
         #foreach($articleLink in $page.currentSecondLevelLink.articleLinks) 
        <li>
         <div class="la">
          <h3><a class="ico-11" href="${articleLink.resourcePath}" target="_blank" title="${articleLink.name}">${articleLink.name}</a></h3>
         </div> <p>${articleLink.content}...</p> 
         <div class="lb">
          关联词： #foreach($baiduKeyWord in $articleLink.recommendStrs) 
          <h2 class="sousuoh2">$baiduKeyWord</h2>， #end 
         </div> </li> #end 
       </ul> 
       <div class="list_paging"> 
        <ul>
          #set($currentPage = ${page.currentPage}) #set($i = 1) #foreach($pageLink in $page.pageLinks) #if($currentPage == $pageLink.page) 
         <li class="thisclass">${pageLink.page}</li> #else 
         <li><a href="${pageLink.resourcePath}">${pageLink.page}</a></li> #end #set($i = $i +1) #end 
         <li><span class="pageinfo">共<strong>${page.totalPages}</strong>页<strong>${page.totalElements}</strong>篇</span></li> 
        </ul> 
       </div> 
      </div>
      <div class="cl"></div> 
     </div>
     <!-- /left --> 
     <div class="article-right"> 
      <div class="right-item"> 
       <div class="title">
        <h3><a href="${page.currentSecondLevelLink.resourcePath}" title="${page.currentSecondLevelLink.name}">${page.currentSecondLevelLink.name}</a>推荐</h3>
       </div> 
       <!-- 根据随机生成--> 
       <div class="box">
         #set($i = 1) #foreach($randomArti in $page.recommendArtis) #if($i < 4) 
        <li><span class="a b">$i</span><a href="${randomArti.resourcePath}" target="_blank" title="${randomArti.name}">${randomArti.name}</a></li> #else 
        <li><span class="a">$i</span><a href="${randomArti.resourcePath}" target="_blank" title="${randomArti.name}">${randomArti.name}</a></li> #end #set($i = $i + 1) #end 
       </div> 
      </div>
      <div class="AD-240">
       <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174717";</script> 
       <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
      </div> 
      <div class="right-item"> 
       <div class="title">
        <h3>热点<a href="${page.currentSecondLevelLink.resourcePath}" title="${page.currentSecondLevelLink.name}">${page.currentSecondLevelLink.name}</a></h3>
       </div> 
       <!-- 根据浏览量高低生成--> 
       <div class="box">
         #set($i = 1) #foreach($hotestArti in $page.hotestArtis) #if($i < 4) 
        <li><span class="a b">$i</span><a href="${hotestArti.resourcePath}" target="_blank" title="${hotestArti.name}">${hotestArti.name}</a></li> #else 
        <li><span class="a">$i</span><a href="${hotestArti.resourcePath}" target="_blank" title="${hotestArti.name}">${hotestArti.name}</a></li> #end #set($i = $i + 1) #end 
       </div>
      </div>
      <div class="AD-240">
       <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174718";</script> 
       <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
      </div> 
      <div id="right-box"> 
       <div id="right-ad" class="item1"> 
        <div class="right-item"> 
         <div class="title">
          <h3>最近<a href="${page.currentSecondLevelLink.resourcePath}" title="${page.currentSecondLevelLink.name}">${page.currentSecondLevelLink.name}</a></h3>
         </div> 
         <div class="box">
           #set($i = 1) #foreach($lastestArti in $page.lastestArtis) #if($i < 4) 
          <li><span class="a b">$i</span><a href="${lastestArti.resourcePath}" target="_blank" title="${lastestArti.name}">${lastestArti.name}</a></li> #else 
          <li><span class="a">$i</span><a href="${lastestArti.resourcePath}" target="_blank" title="${lastestArti.name}">${lastestArti.name}</a></li> #end #set($i = $i + 1) #end 
         </div>
        </div>
        <div class="AD-240">
         <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174719";</script> 
         <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script>
        </div> 
       </div> 
      </div> 
     </div>
     <!-- /right --> 
    </div> 
   </div>
   <div class="c1 container-bottom"></div> 
  </div> 
   <div class="footer">
  <p class="p_1"> #foreach($firstLevelLink in $page.firstLevelLinks) <a href="${firstLevelLink.resourcePath}" title="${firstLevelLink.name}">${firstLevelLink.name}</a>| #end </p>
  <div class="footer_service">
    <ul>
        <li><a href="$!page.selfMLink" >手机版</a></li>
        <li><a href="$!page.selfLink" >电脑版</a></li>
    </ul>
   </div>
  <p class="p_2">提供 #foreach($randomMergeTag in $page.mergeTagLinks) <a href="${randomMergeTag.resourcePath}" target="_blank" title="${randomMergeTag.name}">${randomMergeTag.name}</a>, #end 等资料 </p>
   <p class="p_2">Copyright &copy; 2015-2016 <a href="${page.currentSite.sitePath}" title="${page.currentSite.sitePath}">${page.currentSite.sitePath}</a> All Rights Reserved. <a href="${page.currentSite.sitePath}" title="十二星座">${page.currentSite.name}</a> 版权所有</p>
   <p class="p_2">备案信息：鲁ICP备12010724号-2</p>
  </div>
  <script type="text/javascript" src="http://www.456fs.com/staticResource/js/jquery-2.1.1.min.js"></script> 
  <script type="text/javascript" src="http://www.456fs.com/staticResource/js/456fs.js"></script> 
  <script type="text/javascript">BAIDU_CLB_SLOT_ID = "1174716";</script> 
  <script type="text/javascript" src="http://cbjs.baidu.com/js/o.js"></script> 
  $!page.countCode  
 </body>
</html>